:root {
    --color-primary: #394a59;
    --color-primary-light: #59758d;
    --color-secondary: #36bf7f;
    accent-color: #d96666;
  
    /* Sizing */
    --container: 40em;
    --container--text: 40em;
  }
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Set core root defaults */
  html {
    line-height: 1.5;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    margin: 0;
  }
  
  /* Update default margin */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  figure,
  blockquote,
  ul,
  ol,
  dl,
  dd {
    margin: 0 0 1.5rem;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }
  
  /* A elements that don't have a class get default styles */
  a {
    text-decoration-skip-ink: auto;
    color: #36bf7f;
  }
  
  a:hover,
  a:focus-visible {
    color: #d96666;
  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  svg {
    fill: currentColor;
  }
  
  svg:not(:root) {
    overflow: hidden;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  .container {
    width: min(65em, 100%);
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .container--text {
    width: min(45em, 100%);
  }
  
  .btn {
    font-family: sans-serif;
    display: inline-block;
    color: white;
    border-radius: 0.25rem;
    background-color: #394a59;
    padding: 0.55em 1.5em 0.5em;
    border: 0.125rem solid #394a59;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
  }
  
  .btn:hover,
  .btn:focus {
    border-color: #59758d;
    color: white;
    background-color: #59758d;
  }
  
  h1 {
    font-size: 1.802rem;
  }
  h2 {
    font-size: 1.602rem;
  }
  h3 {
    font-size: 1.424rem;
  }
  h4 {
    font-size: 1.266rem;
  }
  h5 {
    font-size: 1.125rem;
  }
  
  @media only screen and (min-width: 45em) {
    h1 {
      font-size: 2.488rem;
    }
    h2 {
      font-size: 2.074rem;
    }
    h3 {
      font-size: 1.728rem;
    }
    h4 {
      font-size: 1.44rem;
    }
    h5 {
      font-size: 1.2rem;
    }
  }
  
/* ---------------------- */

img.result {
    border: 0.0625rem solid #000;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#returnHere{
    display: grid;
    --cols: 1;
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: 1.25rem;
}

@media only screen and (min-width: 45em){
    #returnHere{
        --cols: 2;
    }
}

@media only screen and (min-width: 65em){
    #returnHere{
        --cols: 3;
    }
}
